    /* Define estilo geral do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 6;
  padding: 8;
  text-align: center;
}

/* Estilo do título */
h1 {
  color: #eba104;
  position: absolute;
  top: 15px;
  left:10px;
}


/* Estilo do botão */
button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;       
  cursor: pointer;
  transition: 0.3s;
  margin-top: 80px;
  position: absolute;
  left: 10px;
}

/* Animação ao passar o mouse */
button:hover {
  background-color: #3700b3;
}

