/* ===== Estilo geral do corpo da página ===== */
body {
  font-family: Arial, sans-serif;
  background-image: url('../../assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 6px;   /* corrigido */
  padding: 8px;  /* corrigido */
  text-align: center;
}

/* ===== Popup ===== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;
}

.popup {
  background: #ffffff;
  padding: 30px 20px; /*vertica e horizontal*/
  border-radius: 20px;
  max-width: 320px;
  width: 80%; /* define que o elemento ocupa 80% do seu container*/
  max-height: 90vh; 
  box-shadow: 0 0 20px rgba(0,0,0,0.5);}

.popup img {
  top: 10px;
  max-width: 90%; /*largura maxima queum elemento pode ter*/
  max-height: 50vh; /* limita a altura da imagem a 50% da altura da viewport */
  height: auto; /*autura maxima necessaria para acomodar seu conteudo*/
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contain;
  position: relative;
}

.popup h2 {
  margin-top: 50px;
  color: #000000;
  font-size: 24px;
}

.popup p {
  color: #555;
  font-size: 18px;
  margin-top: 20px;
}



/* Botão de fechar (X) */
.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* ===== Tela normal (igual ao CSS original) ===== */
h1 {
  color: #ffffff;
  position: absolute;
  top: 210px;
  left: 137px;
}
h3 {
  color: #ffffff;
  position: absolute;
  top: 700px;
  width: 100%;
  text-align: center;
}

a {
  color: #ffffff;
  position: absolute;
  top: 350px;
}

button {
  background-color: #eba104;
  color: white;
  border: none;
  padding: 14px 37px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  right: 100px;
  margin-top: 150px;
  margin-bottom: 8px;
  margin-right: 70px;
}

button:hover {
  background-color: #3700b3;
}

img {
  margin-top: 20px;
  border-radius: 15px;
  width: 300px;
  height: auto;
}

.voltar-home {
  display: inline-block;
  margin-top: 90px;
  color: #ffffff;
}
