    /* Define estilo geral do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-image: url('../../assets/fundocardapio.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 6;
  padding: 8;
  text-align: center;
}




/* Estilo do botão */
button {
  background-color: #eba104;
    border: none;

 
}

/* Animação ao passar o mouse */
button:hover {
  background-color: #eba104;
}

